{% extends "base.html.twig" %}

{% block title %}Modifier mon mot de passe{% endblock %}

{% block body %}
    {% for label,messages in app.flashes %}
        <div class="container">
            <div class="alert alert-{{label}} my-4">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    {{ form_start(form, {'attr' : {class : "form_login"} }) }}
    <table>
    <h1>Changement de votre mot de passe</h1>
        <tr>
            <span id='erreur_login'></span>
            <td class="email">
               {{ form_row(form.oldPassword) }}
            </td>
        </tr>
        <tr>
            <td class="password">
                {{ form_row(form.newPassword) }}
            </td>
        </tr>
        <tr>
            <td class="password">
                {{ form_row(form.confirmPassword) }}
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" name="submit_login">Modifier</button>
            </td>
        </tr>
    </table>
    {{ form_end(form) }}
    {# {% if error %}
        <div class="alert alert-danger">
            <p>Votre adresse mail ou votre mot de passe est incorrect</p>
        </div>
    {% endif %} #}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('js/login') }}
{% endblock %}